MONGODB_URI=mongodb://localhost:27017/plant-disease
PORT=4000
JWT_SECRET=changeme
FASTAPI_URL=http://localhost:8000
CLOUDINARY_CLOUD_NAME=changeme
CLOUDINARY_API_KEY=changeme
CLOUDINARY_API_SECRET=changeme
